<div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Platonem complectitur mediocritatem ea eos.
Ei nonumy deseruisse ius.
Mel id omnes verear.
Vis no velit audiam, sonet <a href="#dependencies">praesent</a> eum ne.
<strong>Prompta eripuit</strong> nec ad.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="cu-solet"><a class="anchor" href="#cu-solet"></a>Cu solet</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nominavi luptatum eos, an vim hinc philosophia intellegebat.
Lorem <code>expetenda</code> pertinacia et nec, wisi illud sonet qui ea.
Eum an doctus <a href="#">maiestatis efficiantur</a>.
Eu mea inani iriure.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-json hljs" data-lang="json">{
  "name": "module-name",
  "version": "10.0.1",
  "description": "An example module to illustrate the usage of package.json",
  "author": "Author Name &lt;author@example.com&gt;",
  "scripts": {
    "test": "mocha",
    "lint": "eslint"
  },
  "main": "index.js",
  "devDependencies": {
    "eslint": "^4.7.2",
    "mocha": "^3.5.3"
  },
  "license": "ISC"
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>How about some code?</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-js hljs" data-lang="js">const gulp = require('gulp')
const browserify = require('browserify')
const buffer = require('vinyl-buffer')
const uglify = require('gulp-uglify')
const tap = require('gulp-tap')

gulp.task('js', () =&gt;
  gulp
    .src('js/vendor/*.js', { cwd: 'src', base: 'src', read: false })
    .pipe(
      tap((file) =&gt; {
        file.contents = browserify(file.relative, { basedir: 'src', detectGlobals: false }).bundle()
      })
    )
    .pipe(buffer())
    .pipe(uglify())
    .pipe(gulp.dest('build'))
)</code></pre>
</div>
</div>
<div class="paragraph">
<p>Cum dicat putant ne.
Est in reque homero principes, meis deleniti mediocrem ad has.
Altera atomorum his ex, has cu elitr melius propriae.
Eos suscipit scaevola at.</p>
</div>
<div class="literalblock">
<div class="content">
<pre>pom.xml
src/
  main/
    java/
      HelloWorld.java
  test/
    java/
      HelloWorldTest.java</pre>
</div>
</div>
<div class="paragraph">
<p>Per ea solet civibus inimicus.
Ferri tacimates constituam sed ex, eu mea munere vituperata constituam.
No vel quem admodum, etiam possim voluptatum sed ei.
Voluptua singulis pro ei, melius constituto consequuntur eos in, ei ius blandit albucius.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="liber-recusabo"><a class="anchor" href="#liber-recusabo"></a>Liber recusabo</h2>
<div class="sectionbody">
<div class="paragraph">
<p>No sea, at invenire voluptaria mnesarchum has.
Ex nam suas nemore dignissim, vel apeirian democritum et.
Natum facilisis theophrastus an duo.
At ornatus splendide sed, phaedrum omittantur usu an, vix an noster voluptatibus.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>potenti donec cubilia tincidunt</p>
</li>
<li>
<p>etiam pulvinar inceptos velit quisque aptent himenaeos</p>
</li>
<li>
<p>lacus volutpat semper porttitor aliquet ornare primis nulla enim</p>
</li>
<li>
<p>ultricies sociosqu tristique integer</p>
</li>
<li>
<p>posuere curae pharetra rutrum adipiscing lectus est praesent</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Eu sed antiopam gloriatur.
Ea mea agam graeci philosophia.
Vis veri graeci legimus ad.</p>
</div>
<table id="dependencies" class="tableblock frame-all grid-all">
<colgroup>
<col>
<col>
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Library</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eslint</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^1.7.3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eslint-config-gulp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^2.0.0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">expect</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^1.20.2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">istanbul</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^0.4.3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">istanbul-coveralls</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^1.0.3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">jscs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^2.3.5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">jscs-preset-gulp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^1.0.0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mississippi</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^1.2.0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mocha</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">^2.4.5</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Cum dicat putant ne.
Est in reque homero principes, meis deleniti mediocrem ad has.
Altera atomorum his ex, has cu elitr melius propriae.
Eos suscipit scaevola at.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>This oughta do it!</p>
</div>
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Cum dicat putant ne.
Est in reque homero principes, meis deleniti mediocrem ad has.
Altera atomorum his ex, has cu elitr melius propriae.
Eos suscipit scaevola at.</p>
</div>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>You&#8217;ve been down <em>this</em> road before.</p>
</div>
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Cum dicat putant ne.
Est in reque homero principes, meis deleniti mediocrem ad has.
Altera atomorum his ex, has cu elitr melius propriae.
Eos suscipit scaevola at.</p>
</div>
<div class="admonitionblock warning">
<table>
<tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Watch out!</p>
</div>
</td>
</tr>
</table>
</div>
<div class="admonitionblock caution">
<table>
<tr>
<td class="icon">
<i class="fa icon-caution" title="Caution"></i>
</td>
<td class="content">
<div class="paragraph">
<p>I wouldn&#8217;t try that if I were you.</p>
</div>
</td>
</tr>
</table>
</div>
<div class="admonitionblock caution">
<table>
<tr>
<td class="icon">
<i class="fa icon-caution" title="Caution"></i>
</td>
<td class="content">
I wouldn&#8217;t try that either.
</td>
</tr>
</table>
</div>
<div class="admonitionblock important">
<table>
<tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Don&#8217;t forget this step!</p>
</div>
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>Nominavi luptatum eos, an vim hinc philosophia intellegebat.
Lorem expetenda pertinacia et nec, wisi illud sonet qui ea.
Eum an doctus maiestatis efficiantur.
Eu mea inani iriure.</p>
</div>
<h2 id="voluptua-singulis" class="discrete">Voluptua singulis</h2>
<div class="paragraph">
<p>Cum dicat putant ne.
Est in reque homero principes, meis deleniti mediocrem ad has.
Altera atomorum his ex, has cu elitr melius propriae.
Eos suscipit scaevola at.</p>
</div>
</div>
</div>