<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    <link rel="stylesheet" href="{{or uiRootPath themeRootPath}}/css/site.css">
{{> head}}
  </head>
  <body class="status-404">
{{> header}}
    <div class="main-wrapper">
      <main class="main" role="main">
        <article class="doc">
          <h1>Page Not Found</h1>
        </article>
      </main>
    </div>
{{> footer}}
  </body>
</html>
