<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if canonicalUrl}}
    <link rel="canonical" href="{{canonicalUrl}}">
    {{/if}}
    {{#if description}}
    <meta name="description" content="{{description}}">
    {{/if}}
    {{#if keywords}}
    <meta name="keywords" content="{{keywords}}">
    {{/if}}
    <link rel="stylesheet" href="{{or uiRootPath themeRootPath}}/css/site.css">
{{> head}}
  </head>
  <body class="article">
{{> header}}
{{> main}}
{{> footer}}
  </body>
</html>
